/* FONTS

font-family: 'Jacques Francois', serif;
font-family: 'Maven Pro', sans-serif;

*/
* {
  font-family: 'Jacques Francois', serif;
  font-weight: 400;
}

body {
  background: rgba(118, 149, 193, 0.85);
  margin: 0 auto; 
  height: 100%;
}

header {
  background: rgba(249, 249, 249, 0.13);
  max-height: 5%;
  width: 100%;
  display: flex; 
  align-items: center;
}

h1 {
  word-spacing: 0.35em;
  margin: 0 auto; 
  text-align: center;
}

h1 > span {
  letter-spacing: -0.2em;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: large;
  letter-spacing: 0.1em;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 50%;
  width: 10%;
  border-right: 2px solid black;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  padding: 1%
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > div {
  height: 80%;
  width: 97vw;
  position: relative; 
}

.bg-img {
  width: 95%;
  height: 95%;
  margin: 2%;
}

.initial-content-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 10%;
  padding: 2%;
  margin: 5%;
  width: 22%;
  height: 55%;
  background: rgba(217, 217, 217, 0.8);
  border-radius: 28px;
}

.login-view-container {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 100%;
}

.login-child {
  display: flex; 
  flex-direction: column;
  width: 80%;
}

.login-view-container p {
  text-align: center;
}
/* 
.login-view-container form {
  widt
} */

.login-btn {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 29px;
  border: none;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%; 
  padding-right: 10%;
}

input {
  border: none;
  padding: 2%;
}

/* AVAILABLE ROOMS VIEW */
.available-rooms-view {
  border: 2px solid blue;
}

.single-room {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 40%;
  position: relative;
  border: 5px solid red;
}

.single-room > img {
  /* position: absolute;
  height: 100px; */
  display: none;
}

/* OVERRIDES */

.hidden {
  display: none;
}