/* FONTS
font-family: 'Jacques Francois', serif;
font-family: 'Maven Pro', sans-serif;
*/

* {
  font-family: 'Jacques Francois', serif;
  font-weight: 400;
}

body {
  background: rgba(118, 149, 193, 0.85);
  margin: 0 auto; 
  height: 100%;
}

header {
  background: rgba(249, 249, 249, 0.13);
  max-height: 5%;
  width: 100%;
  display: flex; 
  align-items: center;

}

nav {
  display: flex; 
  justify-content: flex-end;
  align-items: flex-end;
  width: 75%;
  max-height: 10%;
}

h1 {
  word-spacing: 0.35em;
  margin: 0 auto; 
  text-align: center;
}

h1 > span {
  letter-spacing: -0.2em;
}

h2, .modal-heading {
  font-family: 'Maven Pro', sans-serif;
  font-size: large;
  letter-spacing: 0.1em;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 50%;
  width: 10%;
  border-right: 2px solid black;
  margin: 1% 2% 1% 0;
  padding: 1%
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-box {
  height: 80%;
  width: 97vw;
  position: relative; 
}

/* LANDING PAGE VIEW */
.landing-page-view {
  height: 90%;
}

.bg-img {
  width: 95%;
  height: 95%;
  margin: 2%;
}

.initial-content-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 10%;
  padding: 2%;
  margin: 5%;
  width: 22%;
  height: 55%;
  background: rgba(217, 217, 217, 0.8);
  border-radius: 28px;
}

.login-view-container {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 100%;
}

.login-child {
  display: flex; 
  flex-direction: column;
  width: 80%;
}

.login-child > label {
  margin-bottom: 5%;
}

.login-child > input {
  margin-top: 5%;
  border-radius: 10px;
}

.login-view-container p {
  text-align: center;
}

input {
  border: none;
  padding: 2%;
}

/* AVAILABLE ROOMS VIEW */
.available-rooms-container {
  justify-content: space-evenly;
  position: relative;
}

.available-rooms-view {
  margin-right: 1%;
}

.rooms-shown-txt {
  margin-left: 5%;
}

.single-room {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 40%;
  position: relative;
  padding: 1%;
  margin-bottom: 5%;
  margin-left: 8%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.single-room > img {
  height: 90%;
  max-width: 36%;
  width: 36%;
}

.room-details {
  margin-right: 25%;
}

.room-details > p {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* USER DASHBOARD */
.current-bookings > section{
  min-width: 30%;
  max-width: 35%;
}


.current-bookings {
  overflow-x: auto; 
  display: flex;
  max-width: 95%;
}

.user-dash-view {
  width: 80%;
  max-height: 90%;
}

.all-user-bookings {
  display: flex;
  height: 100%;
  position: relative;
}

.all-user-bookings > .content-box {
  max-height: 60%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-room {
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  height: 300px;
}

.user-room > img {
  max-width: none;
  width: 100%;
  height:50%;
}

.user-room > .room-details {
  width: 100%;
  margin: 0 auto;
}

.user-room > .room-details > p {
  margin-top: 10px;
  margin-bottom: 10px;

}

/* FILTER MODAL */
.modal {
  position: absolute;
  min-height: fit-content; 
  height: 70%;
  width: 60%;
  background: rgba(154, 179, 199, 0.863);
  border-radius: 20px;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-top {
  display: flex; 
  width: 98%;
  margin-top: 1%;
}

.modal-heading {
  padding-right: 7%;
}

.filter-modal-bottom {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  min-height: min-content;
  height: 90%;
}

.filter-tags {
  min-height: min-content;
  height: 60%;
  width: 60%; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.filter-tags > form {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-tags > form > input, .filter-tags > form > select {
  border-radius: 25px;
  background-color:rgba(255, 255, 255, 0.474)
}

.filter-tags > form > label {
  text-align: center;
}

.budget-container {
  width: 90%;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.values {
  background-color:rgba(118, 149, 193, 0.85);
  padding: 1% 5%; 
  border-radius: 8px;
}

.values > span {
  font-family: 'Maven Pro', sans-serif;
}

.slider-track {
  display:flex; 
  justify-content: center;
  align-items: center;
  background-color: #3c4f6b;
  width: 80%;
  height: 8%;
  border-radius: 3px;
}

input[type="range"] {
  -webkit-appearance: none; 
  -moz-appearance:none; 
  appearance: none;
  width: 50%;
  margin: 0 auto;
  background-color: #00000000;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  background-color: #6e9ddd;
  border: 1px solid #6886B0;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 1.5em;
  width: 1.5em;
  background-color: #6e9ddd;
  border: 1px solid #6886B0;
  border-radius: 50%;
  cursor: pointer;
}

/* ROOM MODAL */

.room-modal-details {
  /* justify-self: flex-start; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-description, .modal-cost-date {
  font-family: Maven Pro;
  text-align: center;
}

.modal-cost-date span {
  font-family: Maven Pro;
}

.modal-description-wrapper {
  min-height: 20%;
}

.modal-imgs {
  overflow-x: auto;
  /* max-width: 80%; */
  max-height: 100%;
  display: flex;
}

.modal-imgs > img {
  width: 50%;
  min-height: 100%;
  margin-right: 5%;
}

#lastImg {
  margin: 0 auto;
}

.arrows {
  background-color: #00000000;
  border: none;
}

.img-slide-wrapper {
  display: flex;
  align-items: center;
  max-width: 90%;
  max-height: 60%;
}

/* SCROLL BAR */
.scrollbar {
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color:  #ADACAC;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #6886B0;
  border-radius: 5px;
}


.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7596c5;
}

/* ICONS */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon {
  color: #405570;
  padding-left: 10%;
}

/* BUTTONS */
.login-btn {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 29px;
  border: none;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%; 
  padding-right: 10%;
}

.nav-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5%;
  height: 80%;
}

.btn {
  background-color:  #97AECF;
  border: 1px solid #6886B0;
  border-radius: 25px;
  align-self: flex-end;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}

.btn-text {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin: 10%;
  text-align: center;
  padding: 0 auto;
}

.reserve-room-btn {
  align-self: center;
}

.filter-show-button {
  margin-top: 0;
  margin-bottom: 2%;
  margin-right: 5%;
  padding: 1%;
  border-radius: 8px;
  align-self: flex-end;
  background-color:#6789ba;
  border: none;
}

/* .logout-btn {
  min-height: 80%;
  margin-left: 5%;
} */
.close-btn {
  background-color: #00000000;
  border: none;
  cursor: pointer;
}

/* BOOKING MODAL */
.booking-modal {
  background: rgba(154, 179, 199, 0.947);
  height: 30%;
}

.booking-modal-bottom {
  max-height: 10%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ERROR VIEWS */
.no-results-view {
  max-height: 80%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page {
  max-height: 100%;
  width: 100vw;
  position: relative;
  display: grid;
}

#serverInstructions {
  z-index: 1;
  position: absolute;
  top: 0;
  justify-self: center;
  margin-top: 5%;
}

.error-page > img {
  max-height: 100%;
  width: 100%;
}

.error-btn {
  text-align: center;
}

.no-results-img {
  /* position: relative; */
  max-height: 90%;  
  max-width: 90%;
} 



/* ANIMATIONS */

.fade-in {
  animation: fade-in 0.75s ease-in forwards, animate-modal .75s ease-in-out forwards;
}

@keyframes animate-modal {
  0% {
    height: 0%;
  }
  100% {
    height: 70%
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  30% {
    visibility: hidden;
    opacity: 0;
  }
  60% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* OVERRIDES */
button:hover {
  cursor: pointer;
  background-color:rgba(118, 149, 193, 0.85);
}

.close-btn:hover {
  background-color: #00000000;
}
.last-room {
  margin-bottom: 1%; 
}

.blur {
  filter: blur(4px);
}

.no-click{
  pointer-events: none;
  user-select: none;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

/* MEDIA QUERIES */
@media screen and (max-width: 975px) {
  .room-details {
    margin-right: 10%;
  }
}

@media screen and (max-width: 750px) {
  .filter-tags {
    flex-direction: column;
  }

  .filter-option {
    width: 50%;
  }

  nav {
    width: 100%;
    justify-content: center;
  }

  .nav-btn {
    width: 45%;
    margin: 1%
  }

  .filter-show-button {
    align-self: center;
    margin-top: 10%;
  }

  .all-user-bookings {
    flex-direction: column;
  }

  .single-room {
    height: 70%;
    flex-direction: column;
  }

  .single-room > img {
    height: 60%;
    width: 100%;
    max-width: none;
  }

  .user-room {
    height: 100%;  
  }

  .all-user-bookings > .content-box {
    height: 80%;
  }

  .room-details {
    width: 100%;
    margin: 0 auto;
  }

  .room-details > p {
    margin: 1%;
  }
}
/* 
@media screen and (max-height: 650px) {
  .img-slide-wrapper {
    max-height: 40%;
  }
} */